<footer>
    <div class="home-link">
        <h3>
            <a href="/">
                Your Universe.
            </a>
        </h3>        
    </div>
    <div class="copy">
    <h4>&#169;Alysson Campbell 2018</h4>
    </div>

</footer>