<%- include("partials/header.ejs") %>

    <h1>Your Universe</h1>

    <h2>
        <a href="/story">Your Stories</a>
    </h2>
    <h2>
        <a href="/character">Your Characters</a>
    </h2>
    <h2>
        <a href="/story/new">Add Story</a>
    </h2>
    <h2>
        <a href="/character/new">Add Character</a>
    </h2>

<%- include("partials/footer.ejs") %>