<%- include("partials/header.ejs") %>
    <html>

    <body id="index">
        <div class="main">
            <h1 class="title">Your Universe:</h1>

            <h2>
                <a href="/story">Your Stories</a>
            </h2>
            <h2>
                <a href="/character">Your Characters</a>
            </h2>
            <h2>
                <a href="/story/new">Add Story</a>
            </h2>
            <h2>
                <a href="/character/new">Add Character</a>
            </h2>
        </div>
    </body>
    <%- include("partials/footer.ejs") %>

    </html>