<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Story</title>
</head>

<body>
    <h1>Testing New Character</h1>
    <h2>New Character!</h2>
    <form action="/character" method="post" accept-charset="UTF-8">
        <p>
            <label>First Name:</label>
            <input type="text" name="firstName" id="" />
            <br>
            <label>Last Name:</label>
            <input type="text" name="lastName" id="" />
            <br>
            <label>Aliases:</label>
            <input type="text" name="alias" id="" />
            <br>
            <label>Gender:</label>
            <input type="text" name="gender" id="" />
            <br>
            <label>Age at beginning of story:</label>
            <input type="integer" name="age" id="" />
            <br>
            <label>Profession:</label>
            <input type="text" name="prof" id="" />
            <br>
            <label>Description:</label>
            <input type="text" name="desc" id="" />
            <br>
            <label>Character Background:</label>
            <input type="text" name="background" id="" />
            <br>
            <label>Story Id#:</label>
            <input type="integer" name="storyId" name="" />
        </p>
        <input type="submit" value="Add New Character!"/>
    </form>

</body>

</html>
