<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Story</title>
</head>

<body>
    <h1>Testing new story</h1>
    <h2>New Story!</h2>
    <form action="/story" method="post" accept-charset="UTF-8">
        <p>
            <label>Title:</label>
            <input type="text" name="title" id="" />
            <br>
            <label>Genre:</label>
            <select id="genre" name="genre" class="form-control">
            <!-- defaults to "other" when none selected -->
                <option value="Other">Choose Your Genre</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Science Fiction">Science Fiction</option>
                <option value="Horror/Thriller">Horror/Thriller</option>
                <option value="Young Adult">Young Adult</option>
                <option value="Romance">Romance</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <label>Setting:</label>
            <input type="text" name="setting" id="" />
            <br>
            <label>Year Created:</label>
            <input type="text" name="year" id="" />
        </p>
        <input type="submit" value="Add New Story!" />
    </form>

</body>

</html>