body {
    font-family: "Special Elite", cursive, "Courier New", monospace;
}

footer {
    font-family: "Reenie Beanie", cursive, "Courier New", monospace;
}

#index {
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#story {
    background-image: url("../images/stories.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#character {
    background-image: url("../images/characters.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}