body {
    font-family: "Special Elite", cursive, "Courier New", monospace;
    margin-bottom: 75px;
}

html #index {
    background-image: url("../images/home.jpg");
    background-size: cover;
}

#story {
    background-image: url("../images/stories.jpg");
    background-size: cover;
}

#character {
    background-image: url("../images/characters.jpg");
    background-size: cover;
}

footer {
    font-family: "Reenie Beanie", cursive, "Courier New", monospace;
    background-color: rgba(72, 17, 145, 0.75);
    color: #96f7dd;
    display: inline;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.home-link {
    float: left;
    margin-left: 20px;
}

.copy {
    float: right;
    margin-right: 20px;
}

.title {
    text-align: left;
    font-size: 125px;
    margin: 10px;
    margin-bottom: 200px;
}

.main {
    text-align: right;
}

.main h2 {
    margin-top: 20px;
    font-size: 80px;
}