<%- include("../partials/header.ejs") %>

    </html>

    <body id="story">
        <div class="new">
            <h2>New Story:</h2>
            <form action="/story" method="post" accept-charset="UTF-8">

                <label>Title:</label>
                <div>
                    <input type="text" name="title" id="" />
                </div>
                <label>Genre:</label>
                <div>
                    <div class="dropdown">
                        <select id="genre" name="genre" class="form-control">
                            <!-- defaults to "other" when none selected -->
                            <option value="Other">Choose Your Genre</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Science Fiction">Science Fiction</option>
                            <option value="Horror/Thriller">Horror/Thriller</option>
                            <option value="Young Adult">Young Adult</option>
                            <option value="Romance">Romance</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <label>Setting:</label>
                <div>
                    <input type="text" name="setting" id="" />
                </div>
                <label>Year Created:</label>
                <div>
                    <input type="text" name="year" id="" />
                </div>
                <div class="button">
                    <input type="submit" value="Add New Story!" />
            </form>
            </div>
        </div>
    </body>
    <%- include("../partials/footer.ejs") %>

        </html>