<%- include("../partials/header.ejs") %>
    <html>

    <body id="story">
        <div class="main">
            <h1>Your Stories:</h1>
            <ul>
                <% story.forEach(story => { %>
                    <li>
                        <a href="/story/<%=story.id %>">
                            <%= story.title %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </body>

    <%- include("../partials/footer.ejs") %>

    </html>
