<%- include("../partials/header.ejs") %>
    <html>

    <body id="character">
        <div class="main">
            <h1>Your Characters:</h1>
            <ul>
                <% character.forEach(character => { %>
                    <li>
                        <a href="/character/<%=character.id %>">
                            <%= character.firstName %>
                        </a>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </body>
    <%- include("../partials/footer.ejs") %>

    </html>