<%- include("../partials/header.ejs") %>
    <html>

    <body id="character">
        <div class="new">
            <div class="info">
                <h2>Add New Character:</h2>
                <form action="/character" method="post" accept-charset="UTF-8">
                    <div>
                        <label>First Name:</label>
                    </div>
                    <div>
                        <input type="text" name="firstName" id="" />
                    </div>
                    <div>
                        <label>Last Name:</label>
                    </div>
                    <div>
                        <input type="text" name="lastName" id="" />
                    </div>
                    <div>
                        <label>Aliases:</label>
                    </div>
                    <div>
                        <input type="text" name="alias" id="" />
                    </div>
                    <div>
                        <label>Gender:</label>
                    </div>
                    <div>
                        <input type="text" name="gender" id="" />
                    </div>
                    <div>
                        <label>Age at beginning of story:</label>
                    </div>
                    <div>
                        <input type="integer" name="age" id="" />
                    </div>
                    <div>
                        <label>Profession:</label>
                    </div>
                    <div>
                        <input type="text" name="prof" id="" />
                    </div>
                    <div>
                        <label>Description:</label>
                    </div>
                    <div>
                        <input type="text" name="desc" id="" />
                    </div>
                    <div>
                        <label>Character Background:</label>
                    </div>
                    <div>
                        <input type="text" name="background" id="" />
                    </div>
                    <div>
                        <label>Character Image(URL):</label>
                    </div>
                    <div>
                        <input type="text" name="image" id="" />
                    </div>
                    <div>
                        <label>Story Id#:</label>
                    </div>
                    <div>
                        <input type="integer" name="storyId" name="" />
                    </div>
            </div>
            <div class="button">
                <input type="submit" value="Add New Character!" />
            </div>
            </form>
        </div>
    </body>

    <%- include("../partials/footer.ejs") %>

    </html>